html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Josefin Sans" !important;
    background-color: #fff2d0 !important;
    height: 100%;
}
.menu-responsivo{
    display: none;
}
.cabecalho{
    background-color: #000;
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
}

.logo img{
    width: 100px;
    position: absolute;
    top: 35px;
    left: 60px;
}

.cabecalho nav{
    position: absolute;
    top: 70px;
    right: 60px; 
}

.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu li{
    text-decoration: none;
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff2d0;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}

.menu a:hover{
    opacity: 70%;
    border: 1px solid #fff2d0;
}

.container{
    margin: 90px 0;
    min-height: 200px;
}

.accordion {
    background-color: #22322c;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
}
.violino{
    /* width: 100px !important;
    height: 100px !important; */
}
.accordion.active {
    border-radius: 10px 10px 0 0;
    transition: none;
}

.active, .accordion:hover {
    background-color: #22322c;
}

.panel {
    color:#000;
    padding: 0 5%;
    background-color: rgba(34, 50, 44, 10%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
}

.panel img{
    height: 150px;
    width: 200px;
    padding: 10px;
}

.panel p{
    font-size: 18px;
    text-align: justify;
}

.itens-modalidades{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 15px;
}

.itens-modalidades p{
    width: 130px;
    margin-left: 20px;
}

.cards img{
    width: 150px;
}

.itens-professores{
    padding: 0 25%;
    width: 100%;
    margin-top: 15px;
}
.itens-professores p{
    width: 500px;
    margin-left: 30px;
}

.cards-prof{
    margin: 0 auto;
}

.row .itens-row{
    margin-top: 15px;
}



/* .item-plate{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px;
} */

svg {
    transition: transform 0.3s ease-in-out;
}
.rotate {
    transform: rotate(180deg);
}

.navbar-nav{
    gap: 10px;
}


footer{
    background-color: #000;
    width: 100%;
    padding: 30px 0;
    color: #fff;
}

.logo-footer{
    display: block;
}

.logo-footer img{
    width: 7%;
    display: block;
    margin: 0 auto;
}

.escritas-footer{
    display: flex;
    padding: 0 60px;
    position: relative;
    color: #fff;
}

footer nav{
    position: absolute;
    bottom: 0;
    right: 60px;
}

footer .menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}


@media (max-width: 768px) {
    .cabecalho{
        height: 100px;
    }
    .logo img{
        width: 80px;
        top: 20px;
        left: 30px;
    }
    .cabecalho nav{
        top: 50px;
        right: 30px;
    }
    .escritas-footer{
        padding: 0 30px;
    }
    .menu li{
        margin: 0 2px;
    }
    .cabecalho .menu li{
        margin: 0 2px;
        font-size: 14px;
    }
    footer nav{
        right: 30px;
    }
    footer{
        font-size: 12px;
    }

    .itens-professores .img-itens{
        width: 150px;
    }

    .itens-modalidades{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .itens-modalidades p{
        margin: 0 auto;
        font-size: 18px;
    }

    .container{
        margin: 100px 0;
        min-height: 200px;
    }
}

@media (max-width: 430px) {
    .cabecalho{
        height: 80px;
        z-index: 9;
    }

    .logo img{
        width: 60px;
    }
    
    .escritas-footer{
        display: block;
        position: static;
        padding: 15px;
    }

    .logo-footer img{
        width: 10%;
    }

    footer{
        text-align: center;
        padding: 15px 0;
    }

    nav{
        display: none;
    }

    .btn{
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    
    .dash{
        width: 30px;
        height: 3px;
        background-color: #777;
        margin: 6px 0; 
        border-radius: 3px;
        transition: .3s;
    }
    
    .btn.open
    .dash:nth-child(1){
        transform: rotate(45deg) translate(6px, 7px);
    }
    
    .btn.open
    .dash:nth-child(2){
        opacity: 0;
    }
    
    .btn.open
    .dash:nth-child(3){
        transform: rotate(-45deg) translate(5px, -7px);
    }
    .menu-responsivo{
        width: 0;
        height: 0;
        text-align: left;
        overflow: hidden;
        display: flex;
        transition: width 0.3s ease;
    }
    .menu-responsivo.aberto{
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: rgba(34, 50, 44, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    transition: .3s;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 8;
    }

    .menu-responsivo a{
        width: 150px;
        color: #fff2d0;
        font-size: 16px;
        margin: 0px;
        padding: 6px 12px;
        text-decoration: none;
        display: flex;
        margin: 10px;
    }

    .icon img{
        width: 25px;
        margin: 3px 20px 3px 0;
    }

    .texto-menu{
        font-size: 16px;
    }

    .menu-responsivo a:hover{
        background-color: #fff2d0;
        color: #22322c;
        font-weight: 700;
        transition: .5s;
        width: 100%;
    }

    .menu-responsivo ul{
        width: 100%;
        margin-right: 10px;
        padding: 80px 0;    
    }

    .btn.open{
        position: fixed;
        top: 40px;
    }

    .img-itens{
        width: 100px;
    }

    .itens-professores p{
        font-size: 12px;
        width: 250px;
        margin: 0 auto;
    }

    .itens-modalidades{
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .itens-modalidades p{
        margin: 0 auto;
        font-size: 12px;
    }

    .itens-modalidades .img-itens{
        width: 100px;
        height: 100px;
    }

    .container{
        margin: 50px 0 180px;
        min-height: 200px;
    }
}