html{
    scroll-behavior: smooth;
    /* min-height: 100vh; */
}

*{
    margin: 0;
    padding: 0;
}

h3{
    scroll-margin-top: 170px;
}

body{
    font-family: "Josefin Sans" !important;
    background-color: #f3ebd6 !important;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
.menu-responsivo{
    display: none;
}
.cabecalho{
    background-color: #000;
    height: 120px;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 9999;
}

.logo img{
    width: 100px;
    position: absolute;
    top: 25px;
    left: 60px;
}

.cabecalho nav{
    position: absolute;
    top: 70px;
    right: 60px; 
}

.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu li{
    text-decoration: none;
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff2d0;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}

.menu a:hover{
    opacity: 70%;
    border: 1px solid #fff2d0;
}

.submenu ul{
    width: 200px;
    background-color: #161616;
    border-radius: 0 5px 5px 5%;
    padding: 10px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
}


.submenu li{
    border-bottom: 1px dashed #999;
    font-size: 18px;
    width: 80%;
    padding: 0;
    padding: 10px 0;
    list-style: none;
    margin: 0 auto;
}

.submenu li:last-child{
    border: none;
}

.submenu li a{
    color: #fff2d0;
}

.submenu:hover ul{
    opacity: 1;
    z-index: 9;
    height: 160px;
}

.menu li a:hover{
    color: #333;
}

.correcao{
    width: 100%;
    height: 120px;
}

.modalidade{
    margin: 5% 0 0 13%;
}

.carrossel-container{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
}

.carrossel{
    display: flex;
    gap: 30px;
    overflow-x: hidden;
    width: 100%;
    margin: 0 30px;
    padding: 0 10px;
}

.item{
    min-width: 110px;
    height: 110px;
    
    background-color: #000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     
}

.item img{
    width: 50px;
    padding: 15px 0;
}

.item p{
    color: #fff;
    margin: 0;
}

.left img{
    width: 15px;
}

.right img{
    rotate: 180deg;
    width: 15px;
}

.botao{
    background-color: #f3ebd6;
    /* color: #fff; */
    border: none;
    padding: 10px;
    cursor: pointer;
    /* width: 20px; */
}

.hr{
    width: 100%;
    height: 20px;
}
.hr hr{
    width: 75%;
    color: #999;
    margin: 50px auto;
}

.professores{
    margin: 5% 0 5% 13%;
}
.cards-container{
    width: 90%;
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cards-container .card{
    width: 350px;
    height: 400px;
    background-color: #fff;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card .card-preto{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card:hover .card-preto{
    opacity: 1;
}

.card-preto ul{
    margin-top: 15px;
    font-size: 18px;
}

.fotos{
    margin: 5% 0 5% 13%;
}

.fotos-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

/* .linha{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
} */

.col{
    height: 100%;
    margin-bottom: 0;
}

.col img, .col video, .col iframe{
    width: 100%;
    height: 280px;
    object-fit: cover;
}


.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
}

.indicadores .bolinha {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s;
}

.indicadores .ativo {
    background-color: #333;
}

.carrossel .bloco {
    display: flex;
    gap: 20px;
}














footer{
    background-color: #000;
    width: 100%;
    padding: 30px 0;
    color: #fff;
    margin-top: -10px;
}

.logo-footer{
    display: block;
}

.logo-footer img{
    width: 7%;
    display: block;
    margin: 0 auto;
}

.escritas-footer{
    display: flex;
    padding: 0 60px;
    position: relative;
    color: #fff;
}

footer nav{
    position: absolute;
    bottom: 0;
    right: 60px;
}

footer .menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}


@media (max-width: 768px) {
    .cabecalho{
        height: 100px;
    }
    .logo img{
        width: 80px;
        top: 20px;
        left: 30px;
    }
    .cabecalho nav{
        top: 50px;
        right: 30px;
    }
    .escritas-footer{
        padding: 0 30px;
    }
    .menu li{
        margin: 0 2px;
    }
    .cabecalho .menu li{
        margin: 0 2px;
        font-size: 14px;
    }
    footer nav{
        right: 30px;
    }
    footer{
        font-size: 12px;
    }

    .itens-professores .img-itens{
        width: 150px;
    }

    .itens-modalidades{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .itens-modalidades p{
        margin: 0 auto;
        font-size: 18px;
    }

    .container{
        margin: 100px 0;
        min-height: 200px;
    }
}

@media (max-width: 430px) {
    .cabecalho{
        height: 80px;
        z-index: 9;
    }

    .logo img{
        width: 60px;
    }
    
    .escritas-footer{
        display: block;
        position: static;
        padding: 15px;
    }

    .logo-footer img{
        width: 10%;
    }

    footer{
        text-align: center;
        padding: 15px 0;
    }

    nav{
        display: none;
    }

    .btn{
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    
    .dash{
        width: 30px;
        height: 3px;
        background-color: #777;
        margin: 6px 0; 
        border-radius: 3px;
        transition: .3s;
    }
    
    .btn.open
    .dash:nth-child(1){
        transform: rotate(45deg) translate(6px, 7px);
    }
    
    .btn.open
    .dash:nth-child(2){
        opacity: 0;
    }
    
    .btn.open
    .dash:nth-child(3){
        transform: rotate(-45deg) translate(5px, -7px);
    }
    .menu-responsivo{
        width: 0;
        height: 0;
        text-align: left;
        overflow: hidden;
        display: flex;
        transition: width 0.3s ease;
    }
    .menu-responsivo.aberto{
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: rgba(34, 50, 44, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    transition: .3s;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 8;
    }

    .menu-responsivo a{
        width: 150px;
        color: #fff2d0;
        font-size: 16px;
        padding: 3px 12px;
        text-decoration: none;
        display: block;
        margin: 8px;
    }

    .icon img{
        width: 25px;
        margin: 3px 20px 3px 0;
    }

    .texto-menu{
        font-size: 16px;
    }

    .menu-responsivo a:hover{
        background-color: #fff2d0;
        color: #22322c;
        font-weight: 700;
        transition: .5s;
        width: 100%;
    }

    .menu-responsivo ul{
        width: 100%;
        margin-right: 5px;
        padding: 0;    
        display: block;   
    }

    .btn.open{
        position: fixed;
        top: 40px;
    }

    .menu-responsivo ul:first-child{
        padding: 80px 0;
    }


    .mais-opcoes {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        margin: 0 10px;
    }


    .mais-opcoes.ativo {
        max-height: 110px; 
        margin: 0 10px;
        padding-top: 0;
    }

    .mais-opcoes li a {
        padding: 2px 20px;
    }

    .menu-responsivo ul li{
        position: relative;
    }

    .fotos-container{
    width: 100%;
    /* height:; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    }

    .col img, .col video, .col iframe{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }

    .col iframe{
        margin-bottom: -10px;
    }

    .carrossel-container{
    margin: 20px auto;
    display: flex;
    width: 100%;
    }

    .carrossel{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    }

    
    .bloco .item{
    min-width: 60px;
    height: 70px;
    scroll-snap-align: start;
    }

    .carrossel .bloco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    flex: 0 0 100%; 
    scroll-snap-align: start;
}

    .botao{
        display: none;
    }

    .item img{
    width: 30px;
    padding: 5px 0;
}

    .item p{
        font-size: 12px;
}

.carrossel::-webkit-scrollbar {
  display: none;  /* Para Chrome, Safari e Opera */
}

.carrossel {
  /* overflow-x: hidden;  */
  -ms-overflow-style: none;  /* Para IE e Edge */
  scrollbar-width: none;  /* Para Firefox */
}
.card-preto {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

  /* Classe que o JS vai adicionar para mostrar */
.card-preto.ativo {
    opacity: 1;
    pointer-events: auto;
}

.cards-container {
    display: grid;          /* garante que seja grid */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
    grid-template-rows: repeat(2, auto);   /* 2 linhas automáticas */
    gap: 20px;   /* 2 linhas */
    height: auto;
}

.cards-container .card {
    width: 100%; /* card ocupa toda a coluna */
    box-sizing: border-box; /* evita que padding/margin aumentem o tamanho */
    /* opcional: ajustar altura mínima se quiser */
    min-height: 150px;
}
}

