html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Josefin Sans" !important;
}
.menu-responsivo{
    display: none;
}
.cabecalho{
    background-color: #000;
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
}

.logo img{
    width: 100px;
    position: absolute;
    top: 35px;
    left: 60px;
}

.cabecalho nav{
    position: absolute;
    top: 70px;
    right: 60px; 
}

.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu li{
    text-decoration: none;
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff2d0;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}

.menu a:hover{
    opacity: 70%;
    border: 1px solid #fff2d0;
}

.banner{
    height: 350px;
    background-image: url(../imagens/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slogan{
    background-color: #23332d;
    color: #fff;
}
.slogan h1{
    font-size: 48px;
    text-align: center;
    padding : 30px 0;
}

.slogan hr{
    width: 90%;
    margin: 0 auto;
}

.cards-alunos{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 20px auto 0;
}

.card-aluno{
    width: 18%;
    height: 280px;
    background-color: #fff; 
    text-align: center;
    align-items: center;
    color: #23332d;
    font-size: 18px;
    margin-bottom: 30px;
}

.card-aluno img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin: 10px 0 20px;
}

.motivos{
    background-color: #fff2d0;
    color: #000;
    padding-bottom: 20px;
}

h3{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

.cards-motivos{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
}

.card-motivo{
    width: 18%;
    height: 230px;
    /* background-color: #fff;  */
    text-align: center;
    align-items: center;
    color: #23332d;
    font-size: 18px;
    margin-bottom: 30px;
}

.card-motivo img{
    width: 128px;
    /* height: 128px; */
    object-fit: cover;
    margin: 10px 0 20px;
}

.card-motivo p{
    padding: 20px;
}

.motivos hr{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #23332d;
}

.localizacao{
    text-align: center;
    background-color: #23332d;
    color: #fff;
}

.mapa{
    width: 60%;
    height: 400px;
    border: 0;
}

.localizacao p{
    font-size: 18px;
    padding: 20px;
    margin: 0;
}

footer{
    background-color: #000;
    width: 100%;
    padding: 30px 0;
    color: #fff;
}

.logo-footer{
    display: block;
}

.logo-footer img{
    width: 7%;
    display: block;
    margin: 0 auto;
}

.escritas-footer{
    display: flex;
    padding: 0 60px;
    position: relative;
    color: #fff;
}

footer nav{
    position: absolute;
    bottom: 0;
    right: 60px;
}

footer .menu a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease;
}


@media (max-width: 768px) {
    .cabecalho{
        height: 100px;
    }
    .logo img{
        width: 80px;
        top: 20px;
        left: 30px;
    }
    .cabecalho nav{
        top: 50px;
        right: 30px;
    }
    .banner{
        height: 200px;
    }
    .slogan h1{
        font-size: 28px;
        padding: 20px;
    }
    .card-aluno{
        width: 19%;
        height: 160px;
        font-size: 14px;
    }
    .card-aluno img{
        height: 100px;
        margin: 5px 0 13px;
    }
    .card-motivo{
        width: 19%;
        height: 110px;
        font-size: 12px;
    }
    .card-motivo img{
        width: 80%;
        margin: 0;
    }
    .card-motivo p{
        padding: 10px;
    }
    .motivos hr{
        margin-top: 30px;
    }
    h3{
        font-size: 24px;
    }
    .mapa{
        height: 250px;
    }
    .localizacao p{
        font-size: 14px;
    }
    .escritas-footer{
        padding: 0 30px;
    }
    .menu li{
        margin: 0 2px;
    }
    .cabecalho .menu li{
        margin: 0 2px;
        font-size: 14px;
    }
    footer nav{
        right: 30px;
    }
    footer{
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .cabecalho{
        height: 80px;
        z-index: 9;
    }
    
    .logo img{
        width: 60px;
    }

    h1{
        font-size: 24px;
    }

    .banner{
        height: 100px;
    }

    .cards-alunos, .cards-motivos{
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 20px auto 0;
    }

    .card-aluno, .card-motivo {
        width: 45%;
        margin-bottom: 15px;
        height: auto;
        font-size: 14px;
    }

    .card-aluno img{
        width: 90%;
        height: 150px;
        margin: 5px 0;
    }

    .card-aluno p{
        padding: 5px;
    }

    .card-motivo{
        width: 40%;
    }

    .card-motivo img{
        margin-bottom: 5px;
    }

    h3{
        padding: 20px;
        font-size: 20px;
    }

    .mapa{
        width: 80%;
        height: 350px;
    }

    .escritas-footer{
        display: block;
        position: static;
        padding: 15px;
    }
    .logo-footer img{
        width: 10%;
    }

    footer{
        text-align: center;
        padding: 15px 0;
    }
    nav{
        display: none;
    }

    .btn{
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    
    .dash{
        width: 30px;
        height: 3px;
        background-color: #777;
        margin: 6px 0; 
        border-radius: 3px;
        transition: .3s;
    }
    
    .btn.open
    .dash:nth-child(1){
        transform: rotate(45deg) translate(6px, 7px);
    }
    
    .btn.open
    .dash:nth-child(2){
        opacity: 0;
    }
    
    .btn.open
    .dash:nth-child(3){
        transform: rotate(-45deg) translate(5px, -7px);
    }
    .menu-responsivo{
        width: 0;
        height: 0;
        text-align: left;
        overflow: hidden;
        display: flex;
        transition: width 0.3s ease;
    }
    .menu-responsivo.aberto{
        width: 50%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        background-color: rgba(34, 50, 44, 0.9);
        background-color: rgba(0, 0, 0, 0.9);
        transition: .3s;
        position: fixed;
        top: 0px;
        right: 0;
        z-index: 8;
    }

    .menu-responsivo a{
        width: 150px;
        color: #fff2d0;
        font-size: 16px;
        margin: 0px;
        padding: 6px 12px;
        text-decoration: none;
        display: flex;
        margin: 10px;
    }

    .icon img{
        width: 25px;
        margin: 3px 20px 3px 0;
    }

    .texto-menu{
        font-size: 16px;
    }

    .menu-responsivo a:hover{
        background-color: #fff2d0;
        color: #22322c;
        font-weight: 700;
        transition: .5s;
        width: 100%;
    }

    .menu-responsivo ul{
        width: 100%;
        margin-right: 10px;
        padding: 80px 0;    

    }
    .btn.open{
        position: fixed;
        top: 40px;
    }
}