@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff2d0;
    font-family: "Nunito", sans-serif;
    display: block;
}

.cabecalho{
    background-color: #000;
    height: 60px;
    padding: 15px;
    /* background-image: url(/src/imagens/casafermata6.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: right top;
    background-origin: content-box; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nome{
    width: 100%;
}
.nome-empresa{
    color: #fff2d0;
    width: 300px;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto;
}

img{
    width: 80px;
    margin-right: 30px 20px;
}

.btn{
    cursor: pointer;
}

.dash{
    width: 35px;
    height: 5px;
    background-color: #777;
    margin: 6px 0;
    margin-right: 45px;
    border-radius: 5px;
    transition: .3s;
}

.btn.open
.dash:nth-child(1){
    transform: rotate(45deg) translate(9px, 7px);
}

.btn.open
.dash:nth-child(2){
    opacity: 0;
}

.btn.open
.dash:nth-child(3){
    transform: rotate(-45deg) translate(9px, -7px);
}


.menu{
    width: 0;
    height: 0;
    text-align: left;
    overflow: hidden;
    display: flex;
    transition: width 0.3s ease;
}

.banner{
    height: 300px;
    display: flex;
}

.foto1{
    background-image: url(/src/imagens/foto1.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

.foto2{
    background-image: url(/src/imagens/foto2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
}

.teste{
    width: 80px;;
}

.menu.aberto{
    width: 230px;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: rgba(34, 50, 44, 0.9);
    transition: .3s;
    position: fixed;

}


.menu a{
    color: #fff2d0;
    font-size: 20px;
    margin: 0px;
    padding: 6px 12px;
    text-decoration: none;
    display: flex;
    margin: 15px;
}

.icon img{
    width: 30px;
    margin: 3px 20px 3px 0;
}

.texto-menu{
    margin: 5px;
}

.menu a:hover{
    background-color: #fff2d0;
    color: #22322c;
    font-weight: 700;
    transition: .5s;
    width: 100%;
}

ul{
    width: 100%;
    margin-right: 10px;
}

.container-slogan-e-recital{
    background-color: #22322c;
    height: 500px;
    color: #fff2d0;
    text-align: center;
}

.container-slogan-e-recital .escola{
    padding-top: 20px;
    font-size: 40px;
    font-weight: normal;

}

.container-slogan-e-recital .slogan{
    font-size: 40px;
    font-weight: normal;
}
.container-slogan-e-recital .slogan strong{
    font-size: 45px;
    font-weight: bold;
}




hr{
    border-color: #fff2d0;
    margin: 20px auto;
    border: 1px solid;
    width: 95%;
}

p{
    margin-top: 0px;
}

.recital-inicio{
    width: 900px;
    margin: 0 auto;
}
.titulo-recital-inicio{
    font-size: 30px;
    font-weight: normal;
}

.imagens{
    float: left;
}

.recital-inicio img{
    width: 220px;
    height: 160px;
    margin: 30px 10px 15px;
    padding: 0 30px;
}
